* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
.main {
    max-width: 1200px;
    margin: 0 auto;
}

/* home */
.home {
    position: relative;
    height: 100%;
    background: url('./images/layout/water-768745_1920.jpg') no-repeat 50% 45%;
    background-size: cover;
    color: white;
}
.bg-grid {
    height: 100%;
    background: url('./images/layout/pattern.png') repeat;
    opacity: 0.5;
}
.intro {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 20px;
}
.intro__hello {
    font-family: Raleway, "Times New Roman", Times, sans-serif;
}
.intro__title {
    font: 700 40px/1.2 Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 10px;
}
.arrow-down {
    width: 32px;
    height: 32px;
    background: url('./images/layout/arrow-down.svg') no-repeat 50% 50%;
    background-size: cover;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    bottom: 25px;
    cursor: pointer;
    -webkit-transition: 0.05s ease-in-out;
    -moz-transition: 0.05s ease-in-out;
    -o-transition: 0.05s ease-in-out;
    transition: 0.05s ease-in-out;
}
.arrow-down:active {
    bottom: 20px;
}

/* about-me */
.about-me {
    position: relative;
    height: 100%;
    width: 100%;
    background: #f5f5f5;
}
.title {
    padding: 40px 0 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(34, 34, 34);
    font: 700 20px/1.2 Raleway, sans-serif;
}
.title:after {
    content: '';
    display: block;
    width: 260px;
    height: 1px;
    background: rgba(135, 135, 135, 0.498039);
    margin-top: 15px;
}
.information {
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    color: #666;
    font-size: 17px;
}
.information__title{
    display: inline-block;
    margin-top: 10px;
    color: #0645ad;
    font-weight: 500;
}
.blank-ico {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('./images/layout/blank-ico.svg');
    background-size: cover;
    margin: 0 0 -1px 4px;
}

.work-list {
    list-style-type: none;
    margin-top: 10px;
}
.work-list li {
    font-size: 17px;
    margin-bottom: 4px;
}
.work-list li a {
    color: #0645ad;
}
.work-list li a:active {
    color: dodgerblue;
}

/* contacts */
.contacts {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
}
.contact {
    display: flex;
    border-right: 1px solid dimgray;
    color: black;
    padding-right: 50px;
    margin-right: 50px;
    justify-content: center;
}
.contact:last-child {
    border: none;
    padding-right: 0;
    margin-right: 0;
}
.contact__icon {
    width: 40px;
    height: 40px;
    margin: auto 15px auto 0;
}
.contact__icon:hover {
    opacity: 0.75;
}
.contact__description {
    margin: auto 0;
}
.contact__info {
    font-size: 15px;
    margin-bottom:2px;
}
.contact__data {
    font-weight: 500;
    letter-spacing: 1px;
}
.call-ico {
    background: url('./images/layout/call-ico.svg');
    background-size: cover;
}
.facebook-ico {
    background: url('./images/layout/facebook-ico.svg');
    background-size: cover;
}
.email-ico {
    background: url('./images/layout/email-icon.svg');
    background-size: cover;
}
